:root{
    --darkColorColor: #F9F9FA;
    --darkColorBg: #312B2F;
    --darkColor-buttonTheme: url("https://res.cloudinary.com/do7bnejaz/image/upload/v1676756942/CobraKai%20_Gym/miyagi-do-karate-logo-AEB6C17D70-seeklogo.com_xsvwub.png")


    --ligthColorColor: #F2C84F;
    --lightColorBg: #FAF9F8;
    --lightColor-buttonTheme: url("https://res.cloudinary.com/do7bnejaz/image/upload/v1676756529/CobraKai%20_Gym/Cobra-Kai-Emblema_rw71dz.png");

    
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
html{
    scroll-behavior: smooth;
}

body{
    max-width: 100vw;
    height: auto;
    
}

main{
height: 80vh;
max-width: 100vw;
padding: 2rem;
display: flex;
flex-direction: column;
justify-content: center;
flex-wrap: wrap;
align-items: center;
gap: 1rem;

}
.active {
    border-bottom: 2px solid ;
}

.light{
    background-color:var(--lightColorBg) ;
    color: var(--ligthColorColor);
    transition: all ease-in-out 0.8s;

}

.dark{
    background-color: var(--darkColorBg);
    color: var(--darkColorColor);
    transition: all ease-in-out 0.8s;
}
input{
    background: none;
}