*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
body{
    max-width: 100vw;
    height: auto;
}

main{
height: 80vh;
max-width: 100vw;
padding: 2rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;

}
.active{
    color: yellow;
}
